table {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                text-align: center;
                border-collapse: collapse;
                border-spacing: 5px;
                background: #679FD2;
                border-radius: 20px;
            }
            th {
                font-size: 22px;
                font-weight: 300;
                padding: 12px 10px;
                border-bottom: 2px solid #06266F;
                color: #06266F;
            }
            td {
                padding: 10px;
                color: #ffffff;
            }
            .center {
                text-align: center;
                margin-top: 20px;
            }
            .b {
                background-color: #1240AB;
                color: #ffffff;
                height: 30px;
                width: 250px;
                font-size: 15px;
                border-color: #06266F;
                border-radius: 17px;
            }