table {
                    margin-top: 20px;
                    width: 100%;
                    border-collapse: collapse;
                    background-color: #4CAF50; /* Зелёный цвет фона таблицы */
                    color: white; /* Белый цвет текста в таблице */
                }

                th, td {
                    padding: 15px;
                    border: 1px solid #ddd;
                }

                th {
                    background-color: #45a049; /* Зелёный цвет фона ячейки заголовка */
                }

                /* Цвет кнопок в формах */
                input[type="submit"], input[type="button"] {
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 5px;
                }

                input[type="submit"]:hover, input[type="button"]:hover {
                    background-color: #45a049;
                }